<!DOCTYPE html>
<html>
<head>
<title>RAILWAY RESERVATION SYSTEM | Status</title>
<style>
.center {
    margin: auto;
    width: 60%;
    border: 3px solid #73AD21;
    padding: 10px;
  }

b{
font-family:Algerian
}
body{
background-image: url('/assets/trip.jpg');
background-size: cover;
background-repeat: no-repeat;
}
</style>
</head>
<body>
<div class="center">
  <p><b>YOUR PAYMENT IS DONE SUCCESFULLY</p>
</div>

<b><marquee direction="Right" height="20" width="1000">Enjoy Your Trip</marquee><b>

<%= link_to 'LOGOUT', logout_path %>
</body>

</html>
